:root {

/* Colors */

/* Primary */

--cyan: hsl(179, 62%, 43%);
--light-cyan: rgb(74, 190, 189);
--bright-yellow: hsl(71, 73%, 54%);

/* Neutral */

--light-gray: hsl(204, 43%, 93%);
--grayish-blue: hsl(218, 22%, 67%);
}