@font-face {
	font-family: 'KarlaBold';
	src: url("../../fonts/Karla/Karla-Bold.ttf");
	font-size: 1em;
}
@font-face {
	font-family: 'Karla';
	src: url("../../fonts/Karla/Karla-Regular.ttf");
	font-size: 1em;
}