.banner {
    width: 100%;
    background-color: #FFF;
    /* padding: 30px 20px; */
    margin-top: 40px;
    border-radius: 6px;
    box-shadow: 0 0 1em var(--grayish-blue);
}

.title {
    color: var(--cyan);
    font-size: 18px;
    margin-bottom: 20px;

}

.subtitle {
    color: var(--bright-yellow);
    margin-bottom: 20px;
    font-weight: 400;
}

.content {
    color: var(--grayish-blue);
    font-size: 14px;
    line-height: 20px;
}

.teste {
    padding: 30px 20px;
}