.title {
    color: var(--cyan);
    font-size: var(--fsz-big);
    margin-bottom: 30px;
}

.join-us .subtitle {
    color: var(--bright-yellow);
    font-size: var(--fsz-medium);
    margin-bottom: 20px;
}

.content {
    color: var(--grayish-blue);
    line-height: 20px;
    font-size: var(--fsz-small);
    padding-right: 90px;
}
