html, body {
    height: 100%;
}

body {
    background-color: var(--light-gray);
    font-family: 'Karla';
    font-size: 16px;
}

._container {
    padding: 35px;
}

.banner {
    background-color: #FFF; 
    margin-top: 70px;
    border-radius: 6px;
    box-shadow: 0 0 1em rgb(189, 187, 187);
}

.subtitle {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
}

@media only screen and (min-width: 695px){
    .division-banner {
        display: flex;
    }

    .banner {
        margin-top: 160px;
    }
}
